<!DOCTYPE html>
<html>
  <head>
    <title>Smart Home Dashboard</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
        <h1>Smart Home Dashboard</h1>
        <div id="sensors"></div>
        <div id="tile-group"></div>
    </body>
    <script src="js/script.js"></script>
</html>
